.table-striped {
	tbody {
		tr:nth-of-type(odd) {
			td {
				background-color: #f9f9f9;
			}
		}
		tr:nth-of-type(even) {
			td {
				background-color: #e9eaed;
			}
		}
	}
}

.table-bordered {
	border: 1px solid #ddd;
}