@import '~assets/styles/common';

.tableStriped {
	tbody {
		tr:nth-of-type(odd) {
			td {
				background-color: #f9f9f9;
			}
		}
		tr:nth-of-type(even) {
			td {
				background-color: #e9eaed;
			}
		}
	}
}

.tableBordered {
	border: 1px solid #ddd;
}

@include media-breakpoint-between(xs, md) {
  tr.trHide {display: none !important;}
  .tableBordered{
  	min-width: 100%;
  	tr{
	    display: block;
	    border: 1px solid #ddd;
	    margin-top: 5px;
	  }
	  td {
	    text-align: left;
	    font-size: 15px;
	    overflow: hidden;
	    width: 100%;
	    display: block;
		}
		.trBefore:before {
	    content: attr(data-th) " : ";
	    display: inline-block;
	    text-transform: uppercase;
	    font-weight: bold;
		  margin-right: 10px;
	    color: #337ab7;
	  }
	  .table-bordered{
	  	border:0;
	  	td, th{
	  		border:0;
	  	}
	  }
  } 
  
}
