
@import "../_common";

$footer-height: 50px;

footer{
	position: relative;
	height: $footer-height;	
	width: 100%;
	background-color: #000000; 
	color: white;
	span{
		margin-left: 5px;
		margin-right: 15px;
	}
	p{
		width: 100%; 
		margin: auto;
		left: 0px;
		right: 0px;
		text-align: center;
		a{
			text-decoration: 'none';
			color: white; 
			line-height: $footer-height;
			&:hover{
				color: #00BBFF;
			}
			i{
				margin-left: 5px;
				margin-right: 5px;
				outline: none;
				vertical-align: -3px;
			}
		}
	}
}

