
@import "../_common";

$nav-item-margin: 12px;

.navbar{
	position: fixed;
	top: 0px;
	height: $navbar-height;
	width: 100%;
	background-color: $theme-color;
	z-index: 10;
	.title{
		line-height: $navbar-height;
		display: inline-block;
		color: white;
		font-weight: bold;
		margin-left: $nav-item-margin;
		margin-right: $nav-item-margin;		
		letter-spacing: 1px;
		a {
			color: white;
			text-decoration: none;
		}
	}
	.item{
		line-height: $navbar-height;
		display: inline-block;
		margin-left: $nav-item-margin;
		margin-right: $nav-item-margin;
		font-size: 14px;
		.links{
			color: white;
			text-decoration: none;
			transition: color 0.5s;

			&:hover { color: #003469; }
		}
	}
}

