
.login{
	.loginArea{ top: 50%; }
	h1{
		font-size: 65px;
		font-weight: bold;
		line-height: 1.5;
	}
	.btnFb{
        background-color: #3b5998;
        border: none;
        border-radius: 4px;
        color: #fff;
        transition: 0.3s background-color;
        &:hover{ background-color: #2a4d98;}
	}
	.btnGoogle{
        background-color: #dd4b39;
        border: none;
        border-radius: 4px;
        color: #fff;
        transition: 0.3s background-color;
        &:hover{ background-color: #b52f1f; }
    }
    .alert{
        position: absolute;
        z-index: 9;
        top: 80px;
        left: 20px;
    }
}
