.eventTitle {
  height: 3.5em;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

.eventInfo {
  font-size: 85%;
  color: #555;
}

.cardBackground {
  background-color: rgba(209, 209, 224, 0.4) !important;
}
