{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
      ]
    }
  }
}
