
@import "../../../assets/styles/_common";

.navbar-container{
	position: fixed;
	width: 100%;
	top: 0px;
	height: $navbar-height;
	background-color: $theme-color;
	z-index: 10;
	.navbar-custom { background-color: $theme-color; }
	.brand{
		letter-spacing: 1px;
		font-weight: bold;
		a {
			color: white;
			text-decoration: none;
		}
	}
	.navbar-collapse { background-color: $theme-color; }
	.nav-item{ font-size: 14px; }
	.navbar-toggler { color: white; }
	.nav-link{
		color: white;
		text-decoration: none;
		transition: color 0.5s ease-in;

		&:hover { color: #003469; }
	}
}

