
@import "../../../assets/styles/_common";

.intro{
	margin: auto;
	background-color: white;
	.item{
		padding: 50px;
		vertical-align: text-top;
		&:hover{ background-color: $color-grey; } 
	}
	img{ width: 200px; }
	p{
		margin: auto;
		width: 200px;
	}
	.new-feature{ 
		font-size: 14px; 
		color: red;
		font-weight: bold; 
	}
}