
@import "../../../assets/styles/_common";

.bulletin-board{
	width: 400px;
	height: 220px;
	position: relative;
	hr{
		margin-left: 15px;
        margin-top: 30px;
        border-bottom: 3px $theme_color solid;
        width: 50px;
	}
	.tabs{
        margin-bottom: 0px;
        float: right;
        button{
            display: inline-block;
                border: 0px;
            padding: 8px;
            background: rgb(0, 102, 204);
            border-radius: 8px 8px 0 0;
                box-shadow: -3px 0 10px -2px rgba(0,0,0,0.8); 
                transition: background-color 0.3s;
            &.active{
                    outline: 0;
                    vertical-align: 2px;
                background: $theme_color;
                padding-bottom: 10px;
            }
        }
	}
	.bulletins{
		width: 400px; 
		height: 150px;
		background-color: black;
		overflow: scroll;
		border-left: 15px solid $theme_color;
		padding-top: 15px;
		span{
			font-size: 14px;
		}
		.title{
			margin-left: 30px;
			max-width: 250px;
		}
		.date{
			color: grey;
			float: right;
			margin-right: 20px;
		}
	}
}
