
.event-preview{
	padding: 10px;
	.date{
		color: grey;
		font-size: 16px;
	}
	.title{
		font-size: 18px;
		padding-bottom: 30px;
		border-bottom: 1px solid #CCC;
	}
	.info{
		color: #555;
		margin-top: 5px;

		.info-item{
			line-height: 2.0;
			padding-left: 2.5em;
	    	text-indent: -2.1em;
	  	}
	}
}
