
.event-detail{
	.banner-wrapper{
		max-height: 555px;
		overflow: hidden;
	}
	.event-title{
		position: relative;
    top: -50px;
    padding: 10px 30px;
    background-color: rgba(239,239,239,0.9);
    font-weight: bold;
    font-size: large;
	}
	.event-info-wrapper{ 
		margin-top: -25px; 
		padding: 50px 30px 30px 30px;
	}
	.info-box{
		display: inline-block;
	    border-radius: 10px;
	    border: 2px solid #d1d1e0;
	    padding: 15px 10px;
	    margin-left: 5px;
	}
	.divide-horizontal {
	    width: 100%;
	    text-align: center;
	    border-bottom: 1px solid #d2d2d2;
	    line-height: 0.1em;
	    margin: 10px 0 20px;
    span {
	    background: #fff;
	    color: #d2d2d2;
	    padding: 0 10px;
		}
	}
	.fixed-menu{
		background-color: rgba(255,255,255,0.7);
		width: 100%;
		bottom: 0;
	    margin-bottom: 0;
	    border-width: 1px 0 0;
	    z-index: 5;
	    button{
	    	width: 150px;
	    	margin: 5px;
	    }
	}
}

