
.course-required{ background-color: #AFFFB0; }
.course-general{ background-color: #F0AD4E; }
.course-foreign{ background-color: #FEFFCD; }

.simulation{
	.panel-btn{ 
		margin: 4px; 
		margin-top: -5px;
	}

	.schedule { border: 1px solid #4c66a4; }

	.course-property{
		letter-spacing: 1px;
		
		span{
			padding-left: 5px;
			padding-right: 5px;
			&:not(:first-child){ border-left: 1px solid black; }
		}
	}
	.courses-list-utils{
		padding: 20px;
		button{
			margin-right: 5px;
			vertical-align: -10px;
		}
	}
	.courses-list{
		tr { border-top: 1px solid #DDDDDD; }
		button { margin-right: 3px; }
	}
}

