
.course-required{ background-color: #AFFFB0; }
.course-general{ background-color: #F0AD4E; }
.course-foreign{ background-color: #FEFFCD; }

.simulation{
	.courses-list{
		tr { border-top: 1px solid #DDDDDD; }
		button { margin-right: 3px; }
	}
}

