
.modal-body{
    .fa{
        font-size: 48px;
    }
    .fa-facebook-square{
        color: #3b5999;
    }
    .fa-google-plus-square{
        color: #db4437;
    }
    .fa-twitter-square{
        color: #55acee;
    }
    .fa-copy{
        font-size: 36px;
        color: #4CAF50;
    }
}