
.modalBody{
    i{
        font-size: 48px;
    }
    .facebook{
        color: #3b5999;
    }
    .google{
        color: #db4437;
    }
    .twitter{
        color: #55acee;
    }
    .copy{
        font-size: 36px;
        color: #4CAF50;
    }
}
