
@import "~assets/styles/_common";

.course-detail {
  .table-invisible {
    line-height: 40px;
    width: 50%;
  }

  .statistic-block {
    display: inline-block;
    background-color: white;
    padding-bottom: 20px;
    margin: 15px 10px 15px 10px;
  }

  .section-title {
    font-size: 26px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.btnLike {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  height: 40px;

  span {
    line-height: 1em;
  }
}

.CircularProgressbar {
  /*
 * This fixes an issue where the CircularProgressbar svg has
 * 0 width inside a "display: flex" container, and thus not visible.
 *
 * If you're not using "display: flex", you can remove this style.
 */
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.green {
  .CircularProgressbar-path { stroke: #00c853; }
  .CircularProgressbar-text { stroke: #00c853; }
}

.orange {
  .CircularProgressbar-path { stroke: #f57c00; }
  .CircularProgressbar-text { stroke: #f57c00; }
}
