
@import "~assets/styles/_common";

.introItem {
  &:hover { background-color: $color-grey; }
}

.introNewFeature {
  color: red;
  font-weight: bold;
}

.slogan {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

@include media-breakpoint-down(sm) {
  .sloganWrapper {
    display: none;
  }
}

.featureIcon {
  max-width: 65%;
  height: auto;
}
@include media-breakpoint-down(sm) {
	.sloganWrapper{
		display: none;
	}
}
.featureIcon {
	max-width: 65%;
	height:auto;
}
