@import '~assets/styles/common';
.about{
	background-color: #222222;
	color:white;
	margin-bottom: 0px;
	box-shadow: -3px -2px 79px -2px rgba(0,0,0,0.75);
}

@include media-breakpoint-up(md) {
	.logo{
		max-width: 300px;
		max-height: 300px;
	}
	.gridContainer {
		display:grid;
		grid-template-rows: auto auto;
		grid-template-columns: 4fr 8fr;
		align-content: center;
	}
	.logoWrapper {
		grid-row: 1/-1;
		grid-column: 1/2;
		margin-right: 50px;
	}
	.title {
		grid-row: 1/2;
		grid-column: 2/-1;
		margin-top: auto;
		margin-bottom: 1em;
	}
	.article{
		grid-row: -2/-1;
		grid-column: 2/-1;
		margin-bottom: auto;
	}
}
@include media-breakpoint-down(sm) {
	.logo{
		max-width: 250px;
		max-height: 200px;
	}
	.gridContainer {
		display:grid;
		grid-template-rows: auto auto auto;
		grid-template-columns: auto;
		text-align: center;
	}
	.logoWrapper {
		grid-row: 2/3;
		grid-column: 1/-1;
	}
	.title {
		grid-row: 1/2;
		grid-column: 1/-1;
		margin-top: auto;
		margin-bottom: 27px;
	}
	.article{
		margin-top: 30px;
		grid-row: 3/4;
		grid-column: 1/-1;
		margin: 30px 30px;
	}
}
