.container {
  border-radius: 3px;
}

.pic {
  background-color: white;
  height: 300px;
  width: 100%;
}

.picked {
  border-radius: 0 3px 3px 0;
  background-color: white;
  width: 100%;
  font-size: 16px;
  border-left: 6px solid #00a6ff;
  font-weight: bold;

  .number {
    color: gray;
    font-size: 26px;
  }

  .minusBtn {
    &:hover {
      cursor: pointer;
    }
  }

  .school {
    font-size: 12px;
  }
}

.btnCustomWarning {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.board {
  list-style-type: none;
  padding: 0;
}

.prompt {
  background-color: #f9f9f9;
  border-radius: 3px;
}
