
@import '~assets/styles/common';

.bookItemWrapper {
  min-width: 250px;
}

.bookItem {
  transition: all 0.2s;
  border: 2px solid transparent;

  &:hover {
    border-color: $theme-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}

.price { font-size: 18px; }

.title {
  font-size: 18px;
  font-weight: bold;
}
.info { font-size: 14px; }
