@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.modalBG{
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent{
    z-index: 1080;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);/* youtube box-shadow setting*/
    animation: fadeInUp .2s ease-in-out;
}

.modalBackground{
	background-color: rgba(0, 0, 0, 0.5);
}