
@import "~assets/styles/_common";

.navbarContainer{
	position: fixed;
	width: 100%;
	top: 0px;
	height: $navbar-height;
	background-color: $theme-color;
	z-index: 10;
	.navbarCustom { background-color: $theme-color; }
	.brand{
		letter-spacing: 1px;
		font-weight: bold;
		a {
			color: white;
			text-decoration: none;
		}
	}
	.navbarCollapse { background-color: $theme-color; }
	.navItem{ font-size: 14px; }
	.navbarToggler { color: white; }
	.navLink{
		color: white;
		text-decoration: none;
		transition: color 0.5s ease-in;

		&:hover { color: #003469; }
	}
	i{
		font-size: 1.5em;
	}
	.userName{
		vertical-align: 2px;
	}
}
