
@import "../../assets/styles/_common";

.sidebar {
  background: #222d3f;
  height: 100%;
  position: fixed;
  bottom: 0px;
  width: 16%;
  padding-top: $navbar-height;

  .item{
    border-bottom: 1px #3e4d64 solid;
    width: 100%;
    line-height: 40px;
    cursor: pointer;
    color: #8db4c5;

    a{
      color: #337ab7;
      text-decoration: none;
      transition: background 0.2s;
      transition: color 0.2s;
    }
    &.active, &:hover {
      border-left: 5px solid #25b0eb;
      color: #fff;
      font-weight: 500;
      background: #1e2538;
    }
  }
}


