
@import '../../../assets/styles/_common';

.index{
	.intro{
		margin: auto;
		padding-top: 75px;
		padding-bottom: 75px;
		.item{
			padding: 50px;
			&:hover{ background-color: $color-grey; } 
		}
		img{ width: 200px; }
		p{
			margin: auto;
			width: 200px;
		}
		h5{ color: red; }
	}
	.about{
		background-color: #222222;
		color:white; 
		margin-bottom: 0px;
		padding: 100px;
		box-shadow: -3px -2px 79px -2px rgba(0,0,0,0.75); 
		.logo{
			width: 320px;
			margin-bottom: 20px;
		}
	}
}

