
@import "../../assets/styles/_common";

footer{
	bottom: 0px;
	height: $footer-height;	
	width: 100%;
	background-color: #000000; 
	color: white;
	span{
		margin-left: 5px;
		margin-right: 15px;
	}
	a{
		text-decoration: none;
		color: white; 
		line-height: $footer-height;
		&:hover{
			color: #00BBFF;
		}
	}
}

