.book-table-item{
  background-color: white;
  padding-left: 4px; 
  &:hover{
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}
.price{ font-size: 18px; }