
@import "../../../assets/styles/_common";

.rating{
	width: 120px; 
	height: 120px; 
	margin: 15px;
  	@include media-breakpoint-up(lg){ 
  		width: 110px; 
  		height: 110px; 
  		margin: 10px; 
  	}
	.people{
		width: 100%; 
		color: #455A64;
	}
}

.rating-bar{
	span{
		font-size: 20px;
		padding-left: 10px;
	}	
}

.personal-rating{
	background-color: white;
	line-height: 25px;
	padding: 15px;
	font-size: 18px;
	.my-rating{
		font-size: 20px;
		margin: 10px;
	}

}



