
@import "~assets/styles/_common";

.searchCourse {
  margin: auto;
  .searchBar { width: 212px; }

  .checkbox {
    margin-left: 10px;
    vertical-align: 30px;
  }
}

.searchPanel {
	position: fixed;
	left: -300px;
	top: 56px;
	background: #fff;
	transition: .2s ease-in;
	width: 300px;
	height: calc(100vh - 56px);
	padding: 20px;
	margin: 0;
	z-index: 100;
  
	&:global(.show) {
		transition: .2s ease-in;
		left: 0;
		overflow: auto;
	}

	.panelOpen {
		position: absolute;
		left: 300px;
		top: 5%;
		width: 50px;
		height: 50px;
		font-size: 22px;
		background: #fff;
		color: #555;
		line-height: 50px;
		text-align: right;
		box-shadow: 2px 1px 5px rgba(0,0,0,.15);
		padding-right: 20px;
		border-radius:  0 100px 100px 0 ;
		transition: .2s ease-in;
		cursor: pointer;
    
		&:hover {
			width: 60px;
		}
    
		&:global(.show) {
			display: none;
		}
	}
  
	.panelClose {
		opacity: 0;
		left: 0px;
		transition: .2s ease-in;
    
		&:global(.show) {
			opacity: 1;
			background: rgba(0,0,0,.75);
			width: 100vw;
			height: calc( 100vh - 56px );
			position: fixed;
			top: 56px;
			left: 300px;
			margin: 0;
			padding: 0;
			z-index: 10;
		}
	}
  
	.collegeGroup {
		padding-bottom: 20px;
		margin-left: -15px;
		margin-right: -15px;
    
		.college {
			padding-left: 0;
			padding-right: 0;
			width: 50%;
			border-radius: 0;
			font-size: 14px;
			color: #337AB7;
			outline: none;
		}
	}
}
