.squareCourse {
	width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
    line-height: 20px;
}

.grade {
	background-color: #333;
	color: #fff;
}

.semester {
	background-color: #ccc;
}

.semesterBordered {
	border-left: 2px solid #fff;
}
