.progressBar{
	background-color: gray;
	height: 15px;
	border-radius: 3px 3px 3px 3px;
}

.bar{
	position: relative;
	height: 15px;
	border-radius: 3px 3px 3px 3px;
	transition: width 0.6s;
}
