
// Extra small devices (portrait phones, less than 576px)
@mixin phone-small{
	@media (max-width: 575px) { 
		@content;
	}
}
// Small devices (landscape phones, 576px and up)
@mixin phone{
	@media (min-width: 576px) and (max-width: 767px) { 
		@content;
	}
}
// Medium devices (tablets, 768px and up)
@mixin tablet{
	@media (min-width: 768px) and (max-width: 991px) { 
		@content;
	}
}
// Large devices (desktops, 992px and up)
@mixin desktop{
	@media (min-width: 992px) and (max-width: 1199px) { 
		@content;
	}
}
// Extra large devices (large desktops, 1200px and up)
@mixin desktop-large{
	@media (min-width: 1200px) { 
		@content;
	}
}

$navbar-height: 52px;
$theme-color: #00A6FF;
$color-grey: #DDDDDD;

.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }
.inline{ display: inline;}
.block{ display: block;}
.inline-block{ display: inline-block;}
.margin-auto{ margin: auto; }
.no-border{ border: none; }
.circle{ border-radius: 50%; }
.bg-white{ background-color: white;}
.bg-grey{ background-color: $color-grey;}


.ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* non-decoration links*/
.flat-link{ &:hover, &:focus { text-decoration: none; }}
.clickable{ cursor: pointer; }
.flex-center{
	display: flex;
  flex-direction: column;
  justify-content: center;
}

hr { border-color: #CCCCCC; }

