
@mixin phone-small{
	@media (max-width: 575px) { 
		@content;
	}
}
// Small devices (landscape phones, 576px and up)
@mixin phone{
	@media (min-width: 576px) and (max-width: 767px) { 
		@content;
	}
}
// Medium devices (tablets, 768px and up)
@mixin tablet{
	@media (min-width: 768px) and (max-width: 991px) { 
		@content;
	}
}
// Large devices (desktops, 992px and up)
@mixin desktop{
	@media (min-width: 992px) and (max-width: 1199px) { 
		@content;
	}
}
// Extra large devices (large desktops, 1200px and up)
@mixin desktop-large{
	@media (min-width: 1200px) { 
		@content;
	}
}

$navbar-height: 52px;
$theme-color: #00A6FF;
$color-grey: #DDDDDD;



