
@import "_common";
@import "components/_share_button";
@import "components/_sidebar";
@import "components/_react_circular_progressbar";
@import "components/_comment";
@import "components/_rating";




.course-detail{
	.page-content{
		margin: auto;
		@include desktop-large{ width: 1000px; }
	  @include desktop{ width: 800px; }
	  @include tablet{ width: 600px; }
	  @include phone{ width: 90%;  }
	  @include phone-small{ width: 90%; }
	}

	.table-invisible{
		line-height: 40px;
	  width: 50%;
	}
	.statistic-block{
		display: inline-block;
		background-color: white;
		padding-bottom: 20px;
		margin: 15px 10px 15px 10px;
	}

	.section-title{
		font-size: 26px;
		font-weight: bold;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

