
@import "_common";

.login{
	.login-area{
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		width: 100%;
		max-width: 1000px;
		margin: auto;
	}
	h1{
		font-size: 65px;
		font-weight: bold;
		line-height: 1.5;
	}
	.btn-e3{
		margin-top: 14px;
    width: 260px;
    background-color: #4aa72e;
    border: none;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    transition: 0.3s background-color;
    &:hover{ background-color: #309f0f;}
	}
	.btn-fb{
		margin: 2px;
		margin-top: 10px;
    width: 130px;
    background-color: #3b5998;
    border: none;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    transition: 0.3s background-color;
    &:hover{ background-color: #2a4d98;}
	}
	.btn-google{
		margin: 2px;
    margin-top: 10px;
    width: 130px;
    background-color: #dd4b39;
    border: none;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    transition: 0.3s background-color;
    &:hover{ background-color: #b52f1f; }
	}
}

