


@import "_common";

.inline{ display: inline;}
.inline-block{ display: inline-block;}
.block{ display: block;}

.relative{ position: relative; }
.absolute{ position: absolute; }
.fixed{ position: fixed; }

.circle{ border-radius: 50%; }

.text-white{ color: white !important;}
.text-grey{ color: $color-grey !important;}
.text-blue{ color: #4c66a4 !important;}
.text-red{ color: red !important;}

.vertical-center { vertical-align: middle; }

.bg-white{ background-color: white !important;}
.bg-grey{ background-color: $color-grey !important;}
.bg-blue{ background-color: #4c66a4 !important; }

.border-left-cyan{ border-left: 5px solid #25b0eb; }
.border-left-grey{ border-left: 5px solid #999999; }
.border-left-green{ border-left: 5px solid #5cb852; }
.no-border{ border: none; }


.bold{ font-weight: bold; }
.normal{ font-weight: normal; }
.lighter{ font-weight: lighter; }

.italic{ font-style: italic; }
.underlined{ text-decoration: underline; }


.full-width { width: 100%; }

.margin-auto{ margin: auto; }
.no-padding { padding: 0;}
.no-padding-left { padding-left: 0;}
.no-padding-right { padding-right: 0;}

.no-margin { margin: 0;}
.no-margin-left { margin-left: 0;}
.no-margin-right { margin-right: 0;}


.clickable{ cursor: pointer; }
.form-group{ margin: 15px; }

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* non-decoration links*/
.flat-link{ &:hover, &:focus { text-decoration: none; }}
.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body{
	font-family: 'Open Sans',"微軟正黑體", "Microsoft JhengHei",Merriweather,'Helvetica Neue',Arial,sans-serif;
}


.page-wrapper{ 
	margin-top: $navbar-height; 
	background-color: #e9eaed;
	min-height: 100vh;
}

.chart-wrapper{
	background-color: white;
	padding: 50px;
	margin: auto;

	@include desktop-large{ width: 100%; height: 500px;}
    @include desktop{ width: 90%; height: 450px; }
    @include tablet{ width: 90%; height: 380px; }
    @include phone{ width: 90%;  }
    @include phone-small{ width: 90%; }
}


.btn-circle{
	width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
}
	

